<div class="h-screen w-screen overflow-hidden relative">


    <!-- Dynamic Background Image -->
    <img [src]="selectedmovie?.large_cover_image" alt="" class="w-full h-full">
    
    <div class="title transform text-center glass p-1 border-round-2xl">
        <h1 class="lora-bold text-2xl lg:text-7xl">
            {{ selectedmovie?.title_english }}
        </h1>
    </div>

    <div class="absolute bottom-0 left-0 w-full p-4 glass">
        <h5 class="text-xl lora-semibold my-2">
            {{ selectedmovie?.title_english }}
        </h5>
        <p class="w-12 md:w-6 hidden md:block">
            {{ selectedmovie?.description_intro  }}
        </p>
        <p-button label="More info" outlined="true" styleClass="p-2 my-2" icon="pi pi-chevron-right" iconPos="right" [routerLink]="['/movie', selectedmovie?.id]"></p-button>
    </div>
</div>

<h3 class="my-2">High rating movies</h3>
<div class="grid w-screen">
    <div class="col-12 md:col-4 lg:col-3 p-3" *ngFor="let movie of movies">
        <app-card [name]="movie.title_english" [image]="movie.medium_cover_image" [id]="movie.id" [genres]="movie.genres"></app-card>
    </div>
</div>
