<p-card styleClass="relative overflow-hidden shadow-3 hover:shadow-5 h-24rem transition-duration-500 border-round-2xl">
    <ng-template pTemplate="header">
        <img [src]="image" alt="{{ name }}" class="w-full h-24rem image" >
    </ng-template>
    <div 
      class="title transition-duration-500 absolute top-0 left-0 holder glass-1 
      flex align-items-center justify-content-between flex-column p-3"
    >
        <h4 class="text-xl surface-overlay p-3 border-round-xl opacity-90">
            {{ name }}
        </h4>

        <p-button 
          styleClass="p-2 w-full" 
          label="More info" 
          icon="pi pi-chevron-right" 
          iconPos="right" 
          outlined="false"
          [routerLink]="['/movie', id]"
        ></p-button>
<!--             <p class="cursor-pointer text-blue-500 p-2 surface-overlay">
                <ng-container *ngFor="let genre of genresclip; let i = index">
                    <a 
                      [routerLink]="['/genre', genre]" 
                      class="text-decoration-none text-inherit text-blue-500"
                    >
                        {{ genre }}
                    </a>
                    <span *ngIf="i < genresclip.length - 1"> / </span> 
                </ng-container>
            </p> -->
    </div>
</p-card>
