
<div class="loaded" *ngIf="!(loading) && movies.length > 0" >
    <div class="w-full">
        <h2 class="font-bold text-2xl ">
            Search results on : <span class="capitalize"> {{ query }} </span>
        </h2>
    </div>

    <div class="grid my-3">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 p-2 my-3" *ngFor="let movie of movies">
                <app-card [image]="movie.medium_cover_image" [id]="movie.id" [name]="movie.title_english"></app-card>
            </div>
    </div>
</div>

<div class="loading" *ngIf="loading">
        <!-- <p-skeleton styleClass="w-full h-30rem"></p-skeleton> -->
        <div class="grid my-3">
    @for(item of loader; track $index){
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 p-2 my-3">
                <p-skeleton styleClass="w-full h-19rem"></p-skeleton>
            </div>    
    }

        </div>
</div>





<div class="w-full p-4 text-red-300" *ngIf="!(loading)  && movies.length < 1">
    No results on  {{ query }}
</div>
