<!-- <div *ngIf="isonline; else offline"> -->
    <div class="glass shadow-3 z-5 absolute top-0 left-0 w-full py-2 flex align-items-center justify-content-between p-2">
        <h2 [routerLink]="['/home']" class="cursor-pointer">
            EntZone
        </h2>
        <div class="flex align-items-center justify-content-between gap-2">
            <p class="text-xl cursor-pointer " [routerLink]="['/home']" routerLinkActive="text-green-400 text-2xl">
                Home
            </p>
            <p class="text-xl cursor-pointer"  [routerLink]="['/explore']" routerLinkActive="text-green-400 text-2xl">
                Explore
            </p>
            <p-button icon=" pi pi-search" styleClass="p-1 h-2rem w-2rem" (click)="showDialog()" text="true" rounded="true"></p-button>
        </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
<p-dialog header="Search" [(visible)]="displayDialog" [modal]="true" [closable]="true"
  [draggable]="false" [dismissableMask]="true"
styleClass="p-2 w-12 md:w-7 lg:w-5 h-15rem"
>
    
    <ng-template pTemplate="header">
      <div class="flex h-3rem w-full align-items-center justify-content-center">
        <h2>
           Find your movie        
        </h2>
      </div>
    </ng-template>

    <div class="my-3">
      <form [formGroup]="searchform" (ngSubmit)="search()">
        <div class="field text-center">
            <input id="query" type="text" pInputText formControlName="query" class="h-3rem px-2 w-9 m-auto" placeholder="Try 'Spies in disguise'" />
        </div>
        <p-footer class="flex  justify-content-end w-10 m-auto">
            <button type="submit" pButton label="Search" class="p-2 gap-2" icon="pi pi-search" [disabled]="searchform.invalid"></button>
        </p-footer>
    </form>
    </div>

    <ng-template pTemplate="footer">
      <div class="p-3">
        Powered by <a href="https://yts.mx/api" target="_blank">yts api</a>
      </div>
    </ng-template>

</p-dialog>

<!-- </div> -->
<!-- <ng-template #offline>
  you are currently offline
</ng-template> -->