<div *ngIf="isonline; else offline">

<div class="w-2 absolute min-w-max z-5   h-full">
  <div class=" navbar p-4 my-3 surface-overlay h-full border-round-xl m-1">
    <div class="header flex flex-row gap-2 font-bold text-2xl align-items-center ">
      <i class="pi pi-youtube text-4xl"></i>
      Entzone
    </div>
    <div class="menu mt-3 w-full">
      <p class="menu-item h-3rem flex text-xl capitalize align-items-center gap-2 cursor-pointer  px-2 border-rounds" *ngFor="let item of menuitems" [routerLink]="item.route" routerLinkActive="text-primary">
        <i [class]="item.icon"></i>
        {{ item.name }}
      </p>
    </div>
  </div>
  
</div>

<div class="absolute right-0 w-12 hidden md:block  md:w-10 overflow-y-scroll px-2 overflow-x-hidden  h-screen" >
  <!-- hey tthere -->
   <div class="topbar  my-2 mb-5 w-12 text-center ">
      <div>
        <form [formGroup]="searchform" (ngSubmit)="search()">
          <p-inputGroup 
          styleClass="w-6 m-auto  h-3rem border-round-2xl "
          >
            <input type="search" name="" id="" pInputText class="pl-2 border-round-left-2xl" formControlName="query">
            <button type="submit" pButton text="true" icon="pi pi-search"></button>
          </p-inputGroup>
        </form>
      </div>
   </div>
   <router-outlet></router-outlet>
   
</div>



</div>
<ng-template #offline>
  you are currently offline
</ng-template>