/* Global Styles for the Application */

// Import PrimeNG and PrimeFlex styles
@import "primeng/resources/themes/lara-dark-teal/theme.css";  // Choose your preferred theme
@import "primeng/resources/primeng.css";                       // PrimeNG core styles
@import "primeicons/primeicons.css";                           // PrimeIcons for icons
@import "primeflex/primeflex.scss";                            // Import PrimeFlex SCSS for layout

/* Global reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
