/* Global Styles for the Application */
@import "primeng/resources/themes/lara-dark-blue/theme.css";  // Choose your preferred theme

// Import PrimeNG and PrimeFlex styles
@import "primeng/resources/primeng.css";                       // PrimeNG core styles
@import "primeicons/primeicons.css";                           // PrimeIcons for icons
@import "primeflex/primeflex.scss";                            // Import PrimeFlex SCSS for layout

 /* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&display=swap'); */



.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}


.lora-medium {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}



.lora-semibold {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}


.lora-bold {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}


/* Global reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: italic;
}
.menuview{
    @include styleclass('hidden lg:block')
}
.glass{
    background-color: rgba(0, 0, 0, 0.5) !important;
    filter: blur(40%);
}
.glass-2{
    background-color: rgba(0, 0, 0, 0.5) !important;
    filter: blur(80%);
}

html{
width: 100dvw;
overflow-x:hidden !important;
}

::-webkit-scrollbar{
    display:none !important;
}



.mt-7{
    margin-top:70px !important;
}


.paginator {
    // Center the paginator
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; // Add some spacing between buttons

    .p-button {
        background-color: #007bff; // Bootstrap primary color
        border: 1px solid transparent; // Keep border hidden
        color: white; // Button text color
        transition: background-color 0.3s ease, border-color 0.3s ease;

        &:hover:not(:disabled) {
            background-color: #0056b3; // Darker shade on hover
            border-color: #0056b3; // Match border color to hover
        }

        &:disabled {
            background-color: #c0c0c0; // Light grey for disabled state
            color: #6c757d; // Darker grey for text on disabled state
            cursor: not-allowed; // Change cursor to not-allowed
        }
    }

    .bg-primary {
        background-color: #007bff !important; // Same as button color
    }

    .text-white {
        color: white !important; // Ensures text is white
    }

    .rounded {
        border-radius: 0.25rem; // Add rounded corners
    }
}
