<div class="w-full p-3 surface-overlay">
	<div class="grid">
		<div class="col-12 md:col-6 lg:col-4">
			<h2 class="lora-bold my-2">Entzonex</h2>

			<p class="my-1 text-justify">
				Welcome to Entzonex, your ultimate destination for high-quality movie downloads! We are passionate cinephiles dedicated to bringing you the best in entertainment, powered by the robust YTS API. Our platform leverages the power of torrents to provide you with a seamless and efficient movie downloading experience.
			</p>
		</div>
		<div class="col-12 md:col-6 lg:col-4">
			<h3>My projects</h3>
			<p>
				List coming soon
			</p>
		</div>
		<div class="col-12 md:col-6 lg:col-4">
			<div>
			  <input type="checkbox" class="checkbox" id="checkbox">
			  <label for="checkbox" class="checkbox-label">
			    <i class="pi pi-moon"></i>
			    <i class="pi pi-sun"></i>
			    <span class="ball"></span>
			  </label>
			</div>
		</div>
	</div>
</div>